@using CareerCloud.Pocos;
@model CarrerCloudV2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    
    ApplicantProfilePoco poco = ViewBag.poco;
   
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section>
                    <p>Change your account settings</p>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]

                    <section>
                        @Html.Partial("_ApplicantProfile", poco)
                    </section>
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    <p>Education</p>
                    @{
                        IEnumerable<ApplicantEducationPoco> edu = poco.ApplicantEducations;
                        if (edu == null || edu.Count() == 0)
                        {
                            @:Please add your Education <br />
                            <button class="btn-light">@Html.ActionLink("Enter Education", "NewEducation", "ApplicantEducation", new { id = poco.Id }, null)</button>

                        }
                        else
                        {
                            @Html.Partial("_ApplicantEducation", edu)
                            <button class="btn-light">@Html.ActionLink("Add", "NewEducation", "ApplicantEducation", new { id = poco.Id }, null)</button>
                        }
                    }
                    <hr />
                </section>
                <p>Skills</p>
                @{
                    IEnumerable<ApplicantSkillPoco> skill = poco.ApplicantSkills;
                    if (skill == null || skill.Count() == 0)
                    {
                        @:Please add your Skills <br />
                        <button class="btn-light">@Html.ActionLink("Add Skill", "NewSkill", "ApplicantSkill", new { id = poco.Id }, null)</button>

                    }
                    else
                    {
                        @Html.Partial("_ApplicantSkills", skill)
                        <button class="btn-light">@Html.ActionLink("Add", "NewSkill", "ApplicantSkill", new { id = poco.Id }, null)</button>
                    }
                }
                <hr />
                <section>
                    <p>Resume</p>
                    @{
                        IEnumerable<ApplicantResumePoco> resume = poco.ApplicantResumes;
                        if (resume == null || resume.Count() == 0)
                        {
                            @:Please add your Resume <br />
                            <button class="btn-light">@Html.ActionLink("Add Resume", "NewResume", "ApplicantResume", new { id = poco.Id }, null)</button>

                        }
                        else
                        {
                            @Html.Partial("_ApplicantResume", resume)
                            <button class="btn-light">@Html.ActionLink("Add", "NewResume", "ApplicantResume", new { id = poco.Id }, null)</button>
                        }
                    }
                </section>


            </div>
        </div><hr />
              
        

    </div>
    <div class="container">
        <h2>Applied Jobs</h2>
    
            
                @Html.Action("Applications","ApplicantProfile", new { id=poco.Id});
                
       
    </div>
    
    

</div>
